Sehr geehrter Kunde,

für Sie wurde eine Beschwerde in EMAT angelegt.

{{ entity.subject }}: <a href="{{ link }}">{{ link }}</a>


{{ sender.getClosing() }}

Wie können wir Ihnen helfen?
<a href="http://www.beon-support.de/">www.beon-support.de</a>
