Hi,

die Facebook-Authetifizierung ist abgelaufen bzw. läuft bald ab. Bitte erneut authentifizieren: 

<a href="{{ baseUrl }}{{ path('facebook_auth_path') }}">{{ baseUrl }}{{ path('facebook_auth_path') }}</a>


