{% extends 'IntranetBundle::mainLayout.html.twig' %}

{% block content %}
    <h1 class="page-title">{% trans %}Enum Value{% endtrans %}</h1>
    
    <div class="btn-toolbar">
	    {{filterForm|raw}}
    </div>

    <div class="well">
        {% include 'IntranetBundle:EnumValue:indexTable.html.twig' %}
    </div>
    {% include 'IntranetBundle::simplePaginatorBlock.html.twig' %}
{% endblock content %}
