Sehr geehrter Kunde,

Sie haben eine Pressemitteilung/Imagetext "{{ entity.title }}" mit der Bitte um Freigabe.

<a href="{{ link }}">{{ link }}</a>

Bitte erteilen Sie zeitnah die Freigabe oder teilen Sie uns Änderungswünsche mit.

{{ sender.getClosing() }}
 
Wie können wir Ihnen helfen?
<a href="http://www.beon-support.de/">www.beon-support.de</a>
