{#
    try{
          $usr = $this->get('security.context')->getToken()->getUser();
         $userId =  $usr->getCustomer()->getId();
      }  catch (Exception $e) {
          echo $e->getMessage();
      }
#}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
