{% extends 'IntranetBundle::mainLayout.html.twig' %}

{% block content %}

    <h1 class="page-title">{% trans %}Survey results{% endtrans %}</h1>

    <div class="btn-toolbar">
        <a href="{{ path('surveyresult_new') }}" class="btn "><i class="icon-plus"></i> {% trans %}New survey result{% endtrans %}</a>

        <div class="btn-group">
        </div>
    </div>

    <div class="well">
        <div id="tablewidget" class="block-body collapse in">

            {% include 'IntranetBundle:SurveyResult:indexTable.html.twig' %}

        </div>
    </div>


    {% include 'IntranetBundle::simplePaginatorBlock.html.twig' %}
{% endblock content %}
