Sehr geehrter Kunde,

für "<a href="{{ link }}">{{ entity }}</a>" wurde eine Rechnung bereitgestellt.

{% for upload in uploads %}
    Download: <a href="{{ upload.url }}">{{ upload.name }}</a>
{% endfor %}


Wie können wir Ihnen helfen?
<a href="http://www.beon-support.de/">www.beon-support.de</a>
