Sehr geehrter Kunde,

eine neue Kampagne "{{ entity }}" liegt zur Freigabe vor.

<a href="{{ link }}">{{ link }}</a>

{{ sender.getClosing() }}

Wie können wir Ihnen helfen?
<a href="http://www.beon-support.de/">www.beon-support.de</a>
