<div class="modal small hide fade" id="changeAudienceSizeConfirm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{% trans %}Campaign audience size{% endtrans %}</h3>
    </div>
    <div class="modal-body">

        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>{% trans %}Do you want to prepopulate audience size from choosen supplier?{% endtrans %}</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans %}No{% endtrans %}</button>
        <button class="btn btn-danger" data-dismiss="changeAudienceSizeAction">{% trans %}Yes{% endtrans %}</button>
    </div>
</div>
