
  <div class="block">
            <div class="block-heading" data-toggle="collapse" data-target="#tablewidget"> {% trans %}Facebook Fans{% endtrans %}</div>

		     <div style="height: 400px; width: 97%; margin: 1em" id="facebookLog" class="demo-placeholder"></div>

 </div>